<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>ItemsAPI 2.x</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="/dashboard/assets/custom.css?v=4" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/start/jquery-ui.css" />
{#https://cdnjs.com/libraries/jqueryui#}
{#https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css#}




{% block before_head_end %}
{% endblock %}
</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ItemsAPI 2.x</a>

      <div class="pull-right ajax-loader" style="display: none; margin-top: 12px; margin-left: 0;">
          <img src="/dashboard/assets/images/ajax-loader.gif" />
      </div>

    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"> Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="text-center" style="border-top: 1px solid #eee; margin-top: 50px; padding-top: 10px;">
    <p style="margin-bottom: 0;">System designed and created by <a href="https://itemsapi.com/">ItemsAPI</a>  © 2015-2020</p>
    <br />
    <br />
  </footer>
</div>

<div class="modal fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div id="modalContent" class="modal-content">
    </div>
  </div>
</div>

<script>
</script>

{% if 1 %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/dashboard/libs/lodash/lodash.min.js"></script>
<script src="/dashboard/libs/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
<script src="/dashboard/libs/urijs/src/URI.min.js"></script>
<script src="/dashboard/assets/script.js?v=3"></script>
<script src="/dashboard/assets/custom.js?v=3"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

{% else %}
<script src="/docs/js/all.js?v=7"></script>
{% endif %}

{% block before_body_end %}
{% endblock %}

</body>
</html>
