ul.subnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 8px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;

}

.subnav li {
    float: left;
    margin-right: 10px;
}

.subnav li a {
    /*display: block;*/
    /*color: white;*/
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

/*.subnav li a:hover {
    background-color: #111;
}*/

.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbs span {
    margin-right: 5px;
}

.modal-open {
  overflow-y: auto;
}

@media (min-width: 992px) {
  .modal .modal-dialog{ 
    width: 1000px;
  }
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

.tags-element {
  display: block; 
  float: left; 
  font-size: 13px;
  color: #333; 
  background-color: #dbebf2; 
  border-radius: 5px; 
  padding: 1px 3px 1px 3px; 
  margin: 0 4px 4px 0;
  display: block; 
  float: left; 
}
